/* ICONS */
.appWod-icon {
    background: url("../img/icons/AppWod-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 65%;
    height: 52px;
    margin-top: 10px;
}

.arg-flag {
    background: url("../img/icons/Arg-flag.png");
}

.designer-icon {
    background: url("../img/icons/designer-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25%;
    height: 52px;
    margin-top: 10px;
}

.facebook-icon {
    background: url("../img/icons/facebook-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 35px;
    height: 35px;
    margin-right: 5%;
}

.left-angular-bracket {
    background: url("../img/icons/left-angular-bracket.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 10px;
    height: 40px;
    float: left;
}

.right-angular-bracket {
    background: url("../img/icons/right-angular-bracket.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 10px;
    height: 40px;
    float: right;
}

.separator-icon {
    background: url("../img/icons/separator-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 5px;
    height: 60px;
    margin-right: 5%;
    margin-left: 5%;
}

.twitter-icon {
    background: url("../img/icons/twitter-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 35px;
    height: 35px;
}

/* SPORTS */
.sport-image {
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    width: 12.8%;
    height: 100%;
    float: left;
    margin-right: 4.76%;
}

/* GREEN */
.green-back-squat {
    background: url("../img/ejercicios/Green/Back squat.svg");
}

.green-bench-press {
    background: url("../img/ejercicios/Green/Bench press.svg");
}

.green-clean-jerk {
    background: url("../img/ejercicios/Green/Clean & jerk.svg");
}

.green-deadlift {
    background: url("../img/ejercicios/Green/Deadlift.svg");
}

.green-front-squat {
    background: url("../img/ejercicios/Green/Front squat.svg");
}

.green-overhead-squat {
    background: url("../img/ejercicios/Green/Overhead squat.svg");
}

.green-power-clean {
    background: url("../img/ejercicios/Green/Power clean.svg");
}

.green-sled-push {
    background: url("../img/ejercicios/Green/Sled push.svg");
}

.green-snatch {
    background: url("../img/ejercicios/Green/Snatch.svg");
}

/* WHITEBLUE */
.whiteblue-farmer-walk {
    background: url("../img/ejercicios/Whiteblue/Farmer walk.svg");
}

.whiteblue-hang-clean {
    background: url("../img/ejercicios/Whiteblue/Hang clean.svg");
}

.whiteblue-lunges {
    background: url("../img/ejercicios/Whiteblue/Lunges.svg");
}

.whiteblue-one-arm-snatch {
    background: url("../img/ejercicios/Whiteblue/One arm snatch.svg");
}

.whiteblue-push-press {
    background: url("../img/ejercicios/Whiteblue/Push press.svg");
}

.whiteblue-ring-dip {
    background: url("../img/ejercicios/Whiteblue/Ring dip.svg");
}

.whiteblue-sumo-deadlift {
    background: url("../img/ejercicios/Whiteblue/Sumo deadlift.svg");
}

.whiteblue-swing {
    background: url("../img/ejercicios/Whiteblue/Swing.svg");
}

.whiteblue-thrusters {
    background: url("../img/ejercicios/Whiteblue/Thrusters.svg");
}

.whiteblue-turkish {
    background: url("../img/img/ejercicios/Whiteblue/Turkish.svg");
}

/* BLUE */
.blue-chess-to-bar {
    background: url("../img/ejercicios/Blue/Chest to bar.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.blue-handstand-push-up {
    background: url("../img/ejercicios/Blue/Handstand push up.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.blue-handstand-walk {
    background: url("../img/ejercicios/Blue/Handstand walk.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.blue-muscle-up {
    background: url("../img/ejercicios/Blue/Muscle up.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.blue-pistols {
    background: url("../img/ejercicios/Blue/Pistols.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.blue-pull-up {
    background: url("../img/ejercicios/Blue/Pull up.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.blue-toes-to-bar {
    background: url("../img/ejercicios/Blue/Toes to bar.svg");
}

/* ORANGE */
.orange-air-squat {
    background: url("../img/ejercicios/Orange/Air squat.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.orange-box-jump {
    background: url("../img/ejercicios/Orange/Box jump.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.orange-burpees {
    background: url("../img/ejercicios/Orange/Burpees.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.orange-lunges {
    background: url("../img/ejercicios/Orange/Lunges 02.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.orange-push-up {
    background: url("../img/ejercicios/Orange/Push up.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.orange-rest-day {
    background: url("../img/ejercicios/Orange/Rest day.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.orange-sit-ups {
    background: url("../img/ejercicios/Orange/Sit ups.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.orange-wall-ball {
    background: url("../img/ejercicios/Orange/Wall ball.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

/* RED */
.red-double-unders {
    background: url("../img/ejercicios/Red/Double unders.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.red-row {
    background: url("../img/ejercicios/Red/Row.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.red-run {
    background: url("../img/ejercicios/Red/Run.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.red-sprint {
    background: url("../img/ejercicios/Red/Sprint.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

/* PHOTOS */
.advertencia-configuracion {
    background: url("../img/photos/advertenciaConfiguracion.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 150px;
}

.app-wod-img {
    background: url("../img/photos/Logo AppWod.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 84%;
    height: 10.41%;
    position: absolute;
    top: 2%;
    margin-right: 8%;
    margin-left: 8%;
    z-index: 1500;
}

.background-img {
    background: url('../img/photos/fondo.jpg');
    background-repeat: repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center center;
    height: 100vh;
}

.barra-deporte {
    background: url("../img/photos/barra-deporte.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 20px;
    border: 0;
}

.home-img {
    background: url("../img/photos/Home.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

/* Iconos SVG */
.green-muscle-empty {
    background: url("../img/iconsSVG/Fuerza max.svg");
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    width: 12.4%;
    height: 67px;
    float: left;
}

.green-muscle-full {
    background: url("../img/iconsSVG/Fuerza color.svg");
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    width: 11.9%;
    height: 67px;
    float: left;
}

.user-human-title {
    background: url("../img/iconsSVG/Perfil blanco.svg");
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    width: 38px;
    height: 27px;
    margin-top: -1px;
}

.user-photo {
    background: url("../img/iconsSVG/Perfil gris.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    border: 0;
    outline: none;
}

.statistics-green-background {
    background: url("../img/iconsSVG/Estadisticas 02 blanco.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 8.37%;
    height: 38px;
    float: right;
}

.statistics-red-background {
    background: url("../img/iconsSVG/Estadisticas 02 blanco.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
    float: right;
}

.whiteblue-muscle {
    background: url("../img/iconsSVG/Fuerza.svg");
}

.icon-home-menu {
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    width: 7%;
    height: 100%;
    float: right;
    margin-right: 8%;
    vertical-align: middle;
}

.icon-menu-profile {
    background: url("../img/iconsSVG/Perfil.svg");
}

ion-item.item-menu.background-img.item:active .font-menu .icon-menu-profile {
    background: url("../img/iconsSVG/Perfil Blanco.svg");
}

.icon-menu-free-wod {
    background: url("../img/iconsSVG/Wod libre.svg");
}

ion-item.item-menu.background-img.item:active .font-menu .icon-menu-free-wod {
    background: url("../img/iconsSVG/Wod libre blanco.svg");
}

.icon-menu-travel-wod {
    background: url("../img/iconsSVG/Wod de viaje.svg");
}

ion-item.item-menu.background-img.item:active .font-menu .icon-menu-travel-wod {
    background: url("../img/iconsSVG/Wod viaje blanco.svg");
}

.icon-menu-training {
    background: url("../img/iconsSVG/Entrenamiento.svg");
}

ion-item.item-menu.background-img.item:active .font-menu .icon-menu-training {
    background: url("../img/iconsSVG/Entrenamiento blanco.svg");
}

.icon-menu-calendar {
    background: url("../img/iconsSVG/Calendario.svg");
}

ion-item.item-menu.background-img.item:active .font-menu .icon-menu-calendar {
    background: url("../img/iconsSVG/Calendario blanco.svg");
}

.icon-menu-config {
    background: url("../img/iconsSVG/Configuracion.svg");
}

ion-item.item-menu.background-img.item:active .font-menu .icon-menu-config {
    background: url("../img/iconsSVG/Configuracion blanco.svg");
}

.icon-top {
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    width: 7%;
    height: 100%;
}

.icon-top-menu-pesa {
    background: url("../img/iconsSVG/Wod libre rojo.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
}

.icon-top-menu-viaje {
    background: url("../img/iconsSVG/Wod viaje rojo.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
}

.icon-top-menu-training {
    background: url("../img/iconsSVG/Entrenamiento rojo.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
}

.icon-top-menu-calendar {
    background: url("../img/iconsSVG/Calendario rojo.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
}

.icon-top-menu-profile {
    background: url("../img/iconsSVG/Perfil rojo.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
}

.icon-free-wod-white {
    background: url("../img/iconsSVG/Wod libre blanco.svg");
}

/*
.left-arrow-red {
    background: url("../img/iconsSVG/left-arrow-red.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
    padding: 0 0 0 0;
}
*/

.config-red {
    background: url("../img/iconsSVG/Configuracion rojo.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
}

.lb-img {
    background: url("../img/iconsSVG/Libra gris.svg");
    background-repeat: no-repeat;
    background-size: 90% 90%;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.light-lb-img {
    background: url("../img/iconsSVG/Libra gris.svg");
    background-repeat: no-repeat;
    background-size: 90% 90%;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    opacity: 0.5;
}

.kg-img {
    background: url("../img/iconsSVG/Kilo gris.svg");
    background-repeat: no-repeat;
    background-size: 90% 90%;
    width: 35px;
    height: 35px;
    margin-right: 15%;
}

.light-kg-img {
    background: url("../img/iconsSVG/Kilo gris.svg");
    background-repeat: no-repeat;
    background-size: 90% 90%;
    width: 35px;
    height: 35px;
    margin-right: 15%;
    opacity: 0.5;
}

@media screen and (max-width: 320px) {

    .kg-img, .light-kg-img, .light-lb-img, .lb-img {
        height: 28px;
    }
}

.question-green {
    background: url("../img/iconsSVG/Ayuda blanco.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 2%;
    margin-top: 1px;
}

.question-grey {
    background: url("../img/iconsSVG/Ayuda gris.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 2%;
    margin-top: 1px;
}

.calendar-white {
    background: url("../img/iconsSVG/Calendario blanco.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
    border: 0;
    float: right;
}

.configuration-white {
    background: url("../img/iconsSVG/Configuracion blanco.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
    margin-top: -5px;
    padding: 0 0 0 0;
}

.blue-hand {
    background: url("../img/iconsSVG/Gimnasia.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    border: 0;
}

.orange-hand {
    background: url("../img/iconsSVG/Funcional.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.red-muscle-empty {
    background: url("../img/iconsSVG/Cardio.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 11.9%;
    height: 67px;
    float: right;
}

.grey-eye {
    background: url("../img/iconsSVG/Ojo gris.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    border: 0;
}

.whiteblue-eye {
    background: url("../img/iconsSVG/Ojo azul.svg");
}

.pesa-roja-fondo-rojo {
    background: url("../img/iconsSVG/KTB Rojo.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    border: 0;
}

.clock {
    background: url("../img/iconsSVG/Reloj gris.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
}

.sound {
    background: url("../img/iconsSVG/Alarma.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    border: 0;
}

.letra-g {
    background: url("../img/iconsSVG/Letra G.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 21px;
    height: 18px;
    margin-left: 16%;
}

.country-arg {
    background: url("../img/icons/Arg-flag.png");
    background-size: 100% 100%;
    width: 35px;
    height: 30px;
}

/* ARMADO CON CSS */
.country-flag {
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    width: 15%;
    height: 35px;
    margin-left: 5%;
    position: relative;
}

.horizontal-line {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #434343;
}

.horizontal-red-line {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(230,0,0);
}

.horizontal-green-line {
    background: #0A5926 !important;
    height: 2px;
}

hr .black-line {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
}

.vertical-red-line {
    width: 1px;
    height: 28px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(230,0,0);
    background-color: rgb(230,0,0);
}

.red-empty-circle {
    width: 10px;
    display: inline-block !important;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.red-full-circle {
    width: 10px;
    display: inline-block !important;
    height: 10px;
    background-color: rgb(230, 0, 0);
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}

.blue-circle {
    width: 20px;
    height: 20px;
    background-color: rgb(84, 122, 237);
    border-radius: 50%;
    border: 2px solid rgb(84, 122, 237);
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
}

.green-circle {
    width: 20px;
    height: 20px;
    background-color: rgb(1, 84, 30);
    border-radius: 50%;
    border: 2px solid rgb(1, 84, 30);
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
}

.orange-circle {
    width: 20px;
    height: 20px;
    background-color: rgb(228, 119, 3);
    border-radius: 50%;
    border: 2px solid rgb(228, 119, 3);
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
}

.red-circle {
    width: 20px;
    height: 20px;
    background-color: rgb(219, 1, 12);
    border-radius: 50%;
    border: 2px solid rgb(219, 1, 12);
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
}

.whiteblue-circle {
    width: 20px;
    height: 20px;
    background-color: rgb(26, 148, 132);
    border-radius: 50%;
    border: 2px solid rgb(26, 148, 132);
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
}

.background-page {
    background: -moz-linear-gradient(top, rgba(243,243,243,0) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,243,243,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(243,243,243,0) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(243,243,243,0) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(243,243,243,0) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(243,243,243,0) 0%,rgba(255,255,255,0) 100%); /* W3C */
}

.separator {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
}

.green-separator {
    border-color: rgb(1, 84, 30);
}

.white-blue-separator {
    border-color: rgb(26, 148, 132);
}

.transparent-background {
    background-color: rgba(0,0,0,0);
}

.min-green-line {
    border-left: 2px rgb(1,84,30);
    border-style: solid;
    height: 10px;
    width: 4px;
    margin-left: 10%;
    float: left;
}

.min-white-blue-line {
    border-left: 2px rgb(26,148,132);
    border-style: solid;
    height: 10px;
    width: 4px;
    margin-left: 20%;
}

.min-orange-line {
    border-left: 2px rgb(228,119,3);
    border-style: solid;
    height: 10px;
    width: 4px;
    margin-left: 16%;
}

.min-red-line {
    border-left: 2px rgb(230,0,0);
    border-style: solid;
    height: 10px;
    width: 4px;
    margin-left: 20%;
    float: right;
}

.red-left-arrow {
    position: absolute;
    right: 8%;
    color: red;
}

.red-back-arrow {
    background-image: url('../img/iconsSVG/Flecha rojo.svg');
    color: rgb(230,0,0);
    font-size: 37px;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
}
