<div class="header">
  <div class="menu-title-page row">
    <div class="col">
      <div class="icon-top-menu-pesa"/>
    </div>
    <div class="col">
      <div class="vertical-red-line"/>
    </div>
    <div class="col">
      <div class="icon-top-menu-training"/>
    </div>
    <div class="col">
      <div class="vertical-red-line"/>
    </div>
    <div class="col">
      <div class="icon-top-menu-calendar"/>
    </div>
  </div>
  <div class="background-title row">
    <div class="font-title font-principal col">{{pageTitle}}</div>
    <div class="col center-title-text">
      <span class="font-title">{{user}}</span>
      <div ng-class="iconHeader"/>
      <span class="font-title">{{endAngularBracket}}</span>
    </div>
  </div>
</div>