<div class="row">
	<div class="col center-title-text">
		<div class="user-photo" />
	</div>
	<div class="col center-title-text">
		<label class="row font-user-name">Mario</label>
		<div class="row">
			<label class="font-country">Argentina</label>
			<div class="arg-flag"/>
		</div>
		<div class="horizontal-line left-alignment"/>
		<label class="row red-font-bold">Crossfitter</label>
		<label class="row red-font-bold">Nivel intermedio</label>
		<div class="horizontal-line left-alignment"/>
		<div class="row">
			<label class="red-font-normal">wods </label>
			<div class="red-empty-circle"/>
			<div class="red-empty-circle"/>
			<div class="red-empty-circle"/>
			<div class="red-full-circle"/>
			<div class="red-full-circle"/>
		</div>
	</div>
</div>