<div ng-controller="configurationController" class="background-img">
	<div class="full-space">
		<div class="header">	
			<div class="bar bar-header menu-title-page">
				<div class="right-alignment" style="position: absolute; right: 8%;">
					<div class="right-alignment left-arrow-red" ng-click="show('/home')"></div>
			  	</div>
				
				</div>
			</div>
			<div class="bar background-title">
				<div class="margin-alignment-subheader">
				  	<div class="font-principal left-alignment">{{pageTitle | translate}}</div>
				  	<div class="right-alignment" style="position: absolute; right: 8%;">
						<div class="right-alignment" ng-class="iconHeader"></div>		
				  	</div>
			  	</div>
			</div>
		</div>
		<div class="content-page">
			<div class="display-flex">
				<label class="font-fields-configuration-label">{{'language' | translate}}:</label>
				<select class="language-select" ng-model="language" ng-change="changeLanguage()">
					<option value="es">{{'spanish' | translate}}</option>
					<option value="en">{{'english' | translate}}</option>
					<option value="ge">{{'german' | translate}}</option>
					<option value="fr">{{'french' | translate}}</option>
				    <option value="it">{{'italian' | translate}}</option>
				    <option value="po">{{'portuguese' | translate}}</option>
				</select>
			</div>
			<hr class="horizontal-line"></hr>
			<div class="display-flex">
				<label class="font-fields-configuration-label left-alignment">{{'unitOfMeasurement' | translate}}:</label>
				<div class="right-alignment" style="position: absolute">
					<div class="display-flex">
						<div class="kg-img"></div>
						<div class="lb-img"></div>
					</div>
				</div>
			</div>
			<hr class="horizontal-line"></hr>
			<button type="button" ng-click="" class="button button-block grey-button-background">
				<label class="enable-help-font">{{'helpsActivate' | translate}} 
					<div class="question-green"></div> 
				</label>
			</button>
		</div>
	</div>
	<div class="footer-menu">
		<div class="content-page">
			<div class="row">
				<div class="appWod-icon"></div>
				<div class="separator-icon"></div>
				<div class="designer-icon"></div>
			</div>
			<div class="row">
				<div class="font-website-configuration">www.appwod.com</div>
				<div class="facebook-icon"></div>
				<div class="twitter-icon"></div>
			</div>
				<div class="warning-configuration">
					<div class="warning "><strong>{{'warning' | translate}}</strong></div>
					<p class="font-warning">{{'responsibilities' | translate}}</p>
				</div>
			</div>
	</div>
</div>