<div ng-controller="configurationController" class="background-img">
	<div class="full-space">
		<div class="header">	
			<div class="bar bar-header menu-title-page">
				<div class="right-alignment" style="position: absolute; right: 8%;">
					<i class="ion-arrow-left-a right-alignment" style="color: rgb(230,0,0); font-size: 37px; margin-top: 20%;" ng-click="show('/home')"></i>
			  	</div>
			</div>
			<div class="bar background-title">
				<div class="margin-alignment-subheader">
				  	<div class="font-principal left-alignment">{{pageTitle | translate}}</div>
				  	<div class="right-alignment" style="position: absolute; right: 8%;">
						<div class="right-alignment" ng-class="iconHeader"></div>		
				  	</div>
			  	</div>
			</div>
		</div>
		<div class="content-page">
			<div class="row" style="margin-bottom: 2%;">
				<div class="font-fields-configuration-label col col-50">{{'language' | translate}}:</div>
				<div class="col col-50">
					<select class="language-select" ng-model="language" ng-change="changeLanguage()" style="text-align: center">
						<option value="es"><center>{{'spanish' | translate}}</center></option>
						<option value="en"><center>{{'english' | translate}}</center></option>
						<option value="ge"><center>{{'german' | translate}}</center></option>
						<option value="fr"><center>{{'french' | translate}}</center></option>
					    <option value="it"><center>{{'italian' | translate}}</center></option>
					    <option value="po"><center>{{'portuguese' | translate}}</center></option>
					</select>
				</div>
			</div>
			<hr class="horizontal-line"></hr>
			<div class="row" style="margin-bottom: 2%; margin-top: 2%">
				<label class="font-fields-configuration-label col col-67">{{'unitOfMeasurement' | translate}}:</label>
				<div class="col col-33" style="position: absolute" ng-click="changeMeasurement()">
					<div class="kg-img right-alignment" ng-show="measurement"></div>
					<div class="light-kg-img right-alignment" ng-hide="measurement"></div>
					<div class="lb-img right-alignment" ng-hide="measurement"></div>
					<div class="light-lb-img right-alignment" ng-show="measurement"></div>
				</div>
			</div>
			<hr class="horizontal-line"></hr>
			<label ng-click="changeHelp()" ng-class="help ? 'green-button-background' : 'grey-button-background'" style="margin-top: 4%;">
				<span class="help-font">{{'helpsActivate' | translate}}</span>
				<div ng-class="help ? 'question-green' : 'question-grey'"></div>
			</label>
		</div>
	</div>
	<div class="footer-menu">
		<div class="content-page">
			<div class="row">
				<div class="appWod-icon"></div>
				<div class="separator-icon"></div>
				<div class="designer-icon"></div>
			</div>
			<div class="row" style="margin-top: 2%; margin-bottom: 2%">
				<div class="font-website-configuration">www.appwod.com</div>
				<div class="facebook-icon"></div>
				<div class="twitter-icon"></div>
			</div>
				<div class="warning-configuration">
					<div class="warning"><strong>{{'warning' | translate}}</strong></div>
					<p class="font-warning">{{'responsibilities' | translate}}</p>
				</div>
			</div>
	</div>
</div>