<div ng-controller="friendsController" class="background-img full-space">
	<div class="full-space">
		<div class="header">
			<div class="bar bar-header menu-title-page">
				<div class="content-title-bar">
					<div class="icon-top icon-top-menu-pesa left-alignment" ng-click="show('/freeWOD')"></div>
					<div class="header-line"><center style="height: 100%;"><div class="vertical-red-line"></div></center></div>
					<div class="icon-top icon-top-menu-training" ng-click="show('/training')"></div>
					<div class="header-line"><center style="height: 100%;"><div class="vertical-red-line"></div></center></div>
					<div class="icon-top icon-top-menu-calendar right-alignment" ng-click="show('/calendar')"></div>
					<div class="header-line"><center style="height: 100%;"><div class="vertical-red-line"></div></center></div>
					<div class="icon-top icon-top-menu-viaje" ng-click="show('/tripWOD')"></div>
				</div>
			</div>
			<div class="bar background-title">
				<div class="margin-alignment-subheader">
				  	<div class="font-principal left-alignment">{{pageTitle | translate}}</div>
				  	<div class="right-alignment" ng-click="show('/friends')" style="position: absolute; right: 5%;">
						<div class="font-secondary">
							<span style="margin-right: 12px;">{{beginAngularBracket}}{{'contacts' | translate}}</span>
							<div ng-class="iconHeader"></div>{{endAngularBracket}}
						</div> 
				  	</div>
			  	</div>
			</div>
		</div>
		<div class="content-page-friends">
			<div class="left-alignment contacts-picture-space" ng-click="getPicture()">
				<img ng-src="{{imageURI}}" id="myImage" width="100%" height="100%" />	
			</div>
			<div class="user-information">
				<div style="height: 20%;">
					<label class="item-input item-input-size">
						<input type="text" class="display-flex" ng-model="usuario.nombre" style="font-size: 23px;" placeholder="{{'nameAndSurname' | translate}}"/>
					</label>
				</div>
				<div class="display-flex" style="height: 15%;" >
					<label class="item-input item-input-size">
						<label class="red-font-club">{{usuario.club}}</label>
						<div class="country-flag" ng-class="usuario.flag"></div>
					</label>
				</div>
				<div class="horizontal-red-line"></div>
				<div style="height: 35%;">
					<label class="align-text-left red-font-bold">{{usuario.nivel}}</label>
				</div>
			</div>
	
			<div class="row no-row background-friends-wods">
				<div class="row no-row">
					<div class="col col-20 center-title-text">
						<label class="red-font-normal">wods </label>
					</div>
					<div class="col col-30">
						<div class="row">
							<div class="red-full-circle"></div>
							<div class="red-full-circle"></div>
							<div class="red-full-circle"></div>
							<div class="red-full-circle"></div>
							<div class="red-full-circle"></div>
						</div>
					</div>
					<div class="col col-20 col-offset-30">
						<label class="font-friends">{{'friends' | translate}} </label>
					</div>
				</div>
			</div>
			<hr class="red-line">
			<div class="background-carrousel-friends row">
				<div class="col col-10 col-center">
					<div class="left-angular-bracket" ng-click="previous()"></div>
				</div>
				<ion-nav-page class="col" id="wods-friends">
					<ion-slide-box on-slide-changed="slideChanged(index)">
						<ion-slide>
				        	<label class="row font-grey-small">Martes 4-1-2014</label>
				        	<div class="row">
				        		<div class="col col-50">
				        			<label class="row red-state-wod"><strong>5 vueltas</strong></label>
				        			<hr class="black-line">
				        			<div class="row">
				        				<label class="font-grey-small col">5</label>
				        				<label class="font-grey-small col col-75">Clean & Jerk</label>
				        			</div>
				        			<div class="row">
			        					<label class="font-grey-small col">10</label>
			        					<label class="font-grey-small col col-75">Pull-Ups</label>
				        			</div>
				        			<div class="row">
				        				<label class="font-grey-small col">20</label>
				        				<label class="font-grey-small col col-75">Squat</label>
				        			</div>
				        			<div class="row">
				        				<label class="font-grey-small col">15</label>
				        				<label class="font-grey-small col col-75">Box Jump</label>
				        			</div>
				        			<div class="row">
				        				<label class="font-grey-small col col-offset-20">Run x 400</label>
				        			</div>
								</div>
								<div class="col col-50">
									<div class="row">
										<div class="col">
											<div class="button button-icon icon green-muscle"></div>
										</div>
										<div class="col">
											<div class="button button-icon icon blue-hand"></div>
										</div>
										<div class="col">
											<div class="button button-icon icon red-muscle"></div>
										</div>
									</div>
									</br>
									</br>
									<div class="row">
										<div class="col button button-icon icon clock center-img"></div>
										<label class="col clock-label">12:15</label>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="item item-text-wrap">
		    						Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ubore.
		  						</div>
							</div>
						</ion-slide>
						<ion-slide>
							<label class="font-grey-small">Miércoles 5-1-2014</label>
						</ion-slide>
					</ion-slide-box>
				</ion-nav-page>
				<div class="col col-10 col-center">
					<div class="right-angular-bracket" ng-click="next()" ng-if="slideIndex != 2"></div>
				</div>
			</div>
			<div class="footer">
				<hr class="row black-line">
				<div class="row">
					<div class="col col-50 col-offset-10">
						<div class="row">
							<div class="green-clean-jerk col col-20"></div>
							<label class="green-sport-font col">160 Kg</label>
						</div>
						<div class="row">
							<div class="green-deadlift col col-20"></div>
							<label class="green-sport-font col">250 Kg</label>
						</div>
					</div>
					<div class="col col-50">
						<div class="row">
							<div class="green-front-squat col col-20"></div>
							<label class="green-sport-font col">200 Kg</label>
						</div>
						<div class="row">
							<div class="green-power-clean col col-20"></div>
							<label class="green-sport-font col">70 Kg</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="button-bar">
		  	<a class="button">Amigos</a>
		  	<a class="button">Todos</a>
		  	<a class="button">Buscar</a>
		</div>
	</div>
</div>