<div class="background-img">
	<div class="app-wod-img"></div>
	<div class="header-menu">
		<div class="red-line-home"></div>
		<div class="home-img"></div>
	</div>
	<div class="footer-menu">
		<ion-list class="full-space">
            <a href="#/app/{{item.id}}" ng-repeat="item in mainmenu" class="item-menu background-img item">
                <div class="font-menu">
                    <label class="item-menu-name">{{item.id | translate}}</label>
                    <div class="icon-home-menu" ng-class="item.icon"></div>
                </div>
            </a>
		</ion-list>	
		<div class="red-line-home"></div>
	</div>
</div>