<div ng-controller="profileController" class="background-img full-space">
	<div class="full-space">
		<div class="header">
			<div class="bar bar-header menu-title-page">
				<div class="content-title-bar">
					<div class="icon-top icon-top-menu-pesa left-alignment" ng-click="show('/freeWOD')"></div>
					<div class="header-line"><center style="height: 100%;"><div class="vertical-red-line"></div></center></div>
					<div class="icon-top icon-top-menu-training" ng-click="show('/training')"></div>
					<div class="header-line"><center style="height: 100%;"><div class="vertical-red-line"></div></center></div>
					<div class="icon-top icon-top-menu-calendar right-alignment" ng-click="show('/calendar')"></div>
					<div class="header-line"><center style="height: 100%;"><div class="vertical-red-line"></div></center></div>
					<div class="icon-top icon-top-menu-viaje" ng-click="show('/tripWOD')"></div>
				</div>
			</div>
			<div class="bar background-title">
				<div class="margin-alignment-subheader">
				  	<div class="font-principal left-alignment">{{pageTitle | translate}}</div>
				  	<div class="right-alignment" ng-click="show('/friends')" style="position: absolute; right: 5%;">
						<div class="font-secondary">
							<span style="margin-right: 12px;">{{beginAngularBracket}}{{'user' | translate}}</span>
							<div ng-class="iconHeader"></div>{{endAngularBracket}}
						</div> 
				  	</div>
			  	</div>
			</div>
		</div>
		<div class="content-page">
			<div class="left-alignment picture-space" ng-click="getPicture()">
				<img ng-src="{{imageURI}}" id="myImage" width="100%" height="100%" />	
			</div>
			<div class="user-information">
				<div style="height: 20%;">
					<label class="item-input item-input-size">
						<input type="text" class="display-flex" ng-model="usuario.nombre" style="font-size: 23px;" placeholder="{{'name' | translate}}"/>
					</label>
				</div>
				<div class="display-flex" style="height: 15%;" >
					<label class="item-input item-input-size">
						<input type="text" class="display-flex" ng-model="usuario.pais" style="font-size: 23px;" placeholder="{{'country' | translate}}"/>
						<div class="country-flag" ng-class="usuario.flag"></div>
					</label>
				</div>
				<div class="horizontal-red-line"></div>
				<div style="height: 35%;">
					<label class="align-text-left red-font-bold">{{usuario.nivel}}</label>
				</div>
				<div class="circle-row" style="height:15%;">
					<label class="red-font-wod">wods</label>
					<div class="red-empty-circle"></div>
					<div class="red-empty-circle"></div>
					<div class="red-empty-circle"></div>
					<div class="red-full-circle"></div>
					<div class="red-full-circle"></div>
				</div>
			</div>
			<div class="rectangle">
				<div class="grey-rectangle">
					<label class="red-font-club">{{usuario.club}}</label>
					<label class="club-location-font">- {{usuario.localizacionClub}}</label>
				</div>
			</div>
			<div class="sports-list-profile">
				<ion-list>
					<ion-item ng-repeat="sport in exercises.exercises" class="without-margins item-list-profile">
						<div class="item-space-profile" ng-click="show('/videoExplanation/' + sport.video)">
							<div class="sport-image" ng-class="sport.image"></div>
							<div class="label-space">
								<div class="row">
									<label class="col without-margins sport-font" ng-class="sport.font">{{sport.name}}</label>
									<label class="font-measure right-alignment col without-margins">{{sport.weight + sport.measure}}</label>
								</div>
								<hr class="separator" ng-class="sport.separator">
							</div>
						</div>
					</ion-item>
				</ion-list>
			</div>
		</div>
		<div class="footer-profile">
			<label ng-click="show('/statistics')" class="green-button-background">
				<span class="statistics-font">{{'showStadistics' | translate}}</span>
				<div class="statistics-green-background"></div>
			</label>
		</div>
  	</div>
</div>