<div ng-controller="shareProfileController" class="background-img full-space">
    <div class="full-space">
        <div class="header">
            <div class="bar bar-header menu-title-page">
                <div class="right-alignment" style="position: absolute; right: 8%; margin-top: -5px;">
                    <i class="red-back-arrow right-alignment" ng-click="show('/profile')"></i>
                </div>
            </div>
            <div class="bar background-title">
                <div class="margin-alignment-subheader">
                    <div class="font-principal left-alignment">{{pageTitle | translate}}</div>
                    <div class="right-alignment" ng-click="show('/friends')" style="position: absolute; right: 8%; top: 0;">
                        <div class="font-secondary">
                            <span style="margin-right: 12px;">{{beginAngularBracket}}{{'contacts' | translate}}</span>
                            <div ng-class="iconHeader"></div>{{endAngularBracket}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-page-share-profile">
            <div class="left-alignment contacts-picture-space">
                <img ng-src="{{imageURI}}" id="myImage" width="100%" height="100%" />
            </div>
            <div class="user-information-share-profile">
                <div style="height: 20%;">
                    <label class="item-input item-input-size">
                        <input disabled type="text" class="display-flex" ng-model="usuario.nombre" style="font-size: 1.4em;" placeholder="{{'nameAndSurname' | translate}}" />
                    </label>
                </div>
                <div class="display-flex" style="margin-top: -8%;">
                    <label class="item-input item-input-size">
                        <input disabled type="text" class="red-font-club-share-profile" ng-model="usuario.club" ng-click="usuario.club = null" placeholder="{{'club' | translate}}" />
                        <span class="country-flag" ng-class="usuario.flag" style="min-width: 22px;height: 25px; margin-top: 4px;"></span>
                    </label>
                </div>
                <hr class="black-line" style="min-width: 100%; margin-top: -0.5%;"></hr>
                <div style="height: 35%; margin-top: -1%;">
                    <label class="align-text-left level-font-crossfitter">{{usuario.nivel}}</label>
                </div>
            </div>
        </div>
        <div>
            <hr class="black-line" style="min-width: 100%;margin: 0;padding: 0;border: 0;border-top: 1px solid black;" />
        </div>
        <div class="row no-row background-friends-wods">
            <div class="row no-row">
                <div class="col col-20 center-title-text" style="margin-left: 10%;">
                    <label class="red-font-normal">wods </label>
                </div>
                <div class="col col-30">
                    <div class="row" style="margin-left: -10px;">
                        <div class="red-full-circle profile-circle"></div>
                        <div class="red-full-circle profile-circle"></div>
                        <div class="red-empty-circle profile-circle"></div>
                        <div class="red-empty-circle profile-circle"></div>
                        <div class="red-empty-circle profile-circle"></div>
                    </div>
                </div>
                <div class="col col-20 col-offset-30" style="margin-right: 13%;">
                    <label class="font-friends">{{'friends' | translate}} </label>
                </div>
            </div>
        </div>
        <hr class="red-line" style="margin: 0; border-bottom: 2px solid rgb(230,0,0);">
        <div class="background-carrousel-friends row">
            <div class="col col-10 col-center">
                <div class="left-angular-bracket" ng-click="previous()"></div>
            </div>
            <ion-nav-page class="col" id="wods-friends" style="margin-top: -10px;">
                <ion-slide-box on-slide-changed="slideChanged(index)">
                    <ion-slide>
                        <div class="row">
                            <div class="col col-50">
                                <div class="black-line-share red-state-wod">por vueltas</div>
                                <div class="row">
                                    <label class="font-share-profile left-alignment col">10</label>
                                    <label class="font-share-profile col col-75">Toes to bar</label>
                                </div>
                                <div class="row">
                                    <label class="font-share-profile left-alignment col">10</label>
                                    <label class="font-share-profile col col-75">Handstand PU</label>
                                </div>
                                <div class="row">
                                    <label class="font-share-profile left-alignment col">15</label>
                                    <label class="font-share-profile col col-75">Wall Ball</label>
                                </div>
                                <div class="row">
                                    <label class="font-share-profile left-alignment col">20</label>
                                    <label class="font-share-profile col col-75">Air Squat</label>
                                </div>
                                <div class="row">
                                    <label class="font-share-profile left-alignment col">500m</label>
                                    <label class="font-share-profile col col-75">Run</label>
                                </div>

                            </div>
                            <div class="col col-50">
                                <div class="row">
                                    <div class="col">
                                        <label class="row font-share-profile" style="padding-left: 22px;">jue 12/1/2015</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="right-alignment" style="padding-left: 8px;">
                                        <ul class="share-exercises">
                                            <li class="button button-icon icon icon-training-red"></li>
                                            <li class="button button-icon icon icon-training-blue"></li>
                                            <li class="button button-icon icon icon-training-orange"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <button class="button button-small">
                                        Compartido
                                    </button>
                                </div>
                                <div class="row" style="margin-left: 5px; height: 30px;">
                                    <div style="visibility:hidden;" class="button button-icon icon clock"></div>
                                    <label class="col clock-label">12:15</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card">
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="row">
                            <div class="col col-50">
                                <div class="black-line-share red-state-wod">por vueltas</div>
                                <div class="row">
                                    <label class="font-share-profile left-alignment col">10</label>
                                    <label class="font-share-profile col col-75">Toes to bar</label>
                                </div>
                                <div class="row">
                                    <label class="font-share-profile left-alignment col">10</label>
                                    <label class="font-share-profile col col-75">Handstand PU</label>
                                </div>
                                <div class="row">
                                    <label class="font-share-profile left-alignment col">15</label>
                                    <label class="font-share-profile col col-75">Wall Ball</label>
                                </div>
                                <div class="row">
                                    <label class="font-share-profile left-alignment col">20</label>
                                    <label class="font-share-profile col col-75">Air Squat</label>
                                </div>
                                <div class="row">
                                    <label class="font-share-profile left-alignment col">500m</label>
                                    <label class="font-share-profile col col-75">Run</label>
                                </div>

                            </div>
                            <div class="col col-50">
                                <div class="row">
                                    <div class="col">
                                        <label class="row font-share-profile" style="padding-left: 22px;">vie 13/1/2015</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="right-alignment" style="padding-left: 8px;">
                                        <ul class="share-exercises">
                                            <li class="button button-icon icon icon-training-red"></li>
                                            <li class="button button-icon icon icon-training-blue"></li>
                                            <li class="button button-icon icon icon-training-orange"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <button class="button button-small">
                                        Compartido
                                    </button>
                                </div>
                                <div class="row" style="margin-left: 5px; height: 30px;">
                                    <div class="button button-icon icon clock"></div>
                                    <label class="col clock-label">12:15</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card">
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </ion-nav-page>
            <div class="col col-10 col-center">
                <div class="right-angular-bracket" ng-click="next()" ng-if="slideIndex != 2"></div>
            </div>
        </div>
        <div class="footer" style="margin-left: 8%; margin-right: 8%;">
            <ion-scroll direction="y" style="height: 215px;">
                <div class="sports-list-profile">
                    <ion-list>
                        <ion-item ng-repeat="sport in exercises.exercises" class="without-margins item-list-profile">
                            <div class="item-space-profile" ng-click="show('/videoExplanation/' + sport.video)">
                                <div ng-class="sport.image" style="margin-top: 2%; margin-right: 2%; width: 35px; height: 35px;"></div>
                                <div class="label-space">
                                    <div class="row">
                                        <label class="col without-margins sport-font" ng-class="sport.font">{{sport.name}}</label>
                                        <label class="font-measure right-alignment col without-margins">{{sport.weight + measurementProfile}}</label>
                                    </div>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
            </ion-scroll>
        </div>

    </div>

    <div class="btn-bar">
        <a class="footer-btn">Amigos</a>
        <div class="header-line"></div>
        <a class="footer-btn">Todos</a>
        <div class="header-line"></div>
        <a class="footer-btn">Buscar</a>
    </div>
</div>
