<div ng-controller="trainingController" class="background-img">
    <div class="header">
        <div class="bar bar-header menu-title-page">
            <div class="col">
                <button class="button button-icon icon icon-top-menu-profile center-img" ng-click="show('/profile')"></button>
            </div>
            <div class="col">
                <div class="vertical-red-line center-img"></div>
            </div>
            <div class="col">
                <button class="button button-icon icon icon-top-menu-pesa center-img" ng-click="show('/freeWOD')"></button>
            </div>
            <div class="col">
                <div class="vertical-red-line center-img"></div>
            </div>
            <div class="col">
                <button class="button button-icon icon icon-top-menu-calendar center-img" ng-click="show('/calendar')"></button>
            </div>
        </div>
        <div class="bar bar-subheader background-title row">
            <div class="col col-67 font-title font-principal">{{pageTitle}}</div>
            <div class="col col-33">
                <div class="row no-row" ng-click="show('/friends')">
                    <div class="center-img" ng-class="iconHeader"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-margins">
        <ion-content style="margin-top: 80px;">
            <ion-list>
                <div ng-repeat="sport in training">

                    <ion-item class="item-training"
                              ng-click="toggleGroup(sport)"
                              ng-class="{active: isGroupShown(sport)}">
                        <div class="row">
                            {{sport.day}}
                        </div>
                        <div class="row">
                            <div style="margin-top: -17px;"class="left-alignment">
                                <div ng-repeat="exercise in sport.exercises" class="button button-icon icon center-img" ng-class="exercise.image"></div>
                            </div>
                            <div class="overflow-right bottom-line">
                                {{sport.type}}
                                <i class="icon" ng-class="isGroupShown(sport) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                            </div>
                        </div>
                    </ion-item>

                    <div class="accordion-training" ng-show="isGroupShown(sport)">
                        <div style="position: relative;
width: 50%;
top: 25px;
margin-left: 8%;
display: inline-block;
z-index: 10">
                            <label ng-click="show('/freeWOD')" class="red-button-background">
                                <i class="icon ion-chevron-right" style="color:white"></i>
                                <span class="statistics-font">Iniciar WOD</span>
                            </label>
                        </div>

                        <div style="margin-top: -52px;">
                            <ion-item class="item-accordion" ng-repeat="exercise in sport.exercises">
                                <!--<span>{{exercise.count}}</span>-->
                                {{exercise.name}}
                            </ion-item>
                        </div>
                    </div>
            </ion-list>
        </ion-content>
    </div>
</div>