<div ng-controller="trainingController" class="background-img">
    <div class="help-popup" ng-show="help && hideclick">
        <div class="button-small icon ion-close right" ng-click="hideclick=!hideclick;"></div>
        <p>
            Este modo esta recomendado
            por coaches profesionales
            para llevar a cabo un correcto
            entrenamiento.
            Consiste de un entrenamiento
            variado donde se trabaja
            fuerza, gimnasia y ejercicios
            cardiovasculares distanciados
            entre diferentes dias para no
            agotar los grupos musculares.
        </p>
    </div>
    <div class="header">
        <div class="bar bar-header menu-title-page">
            <div class="content-title-bar">
                <div class="icon-top icon-top-menu-profile" ng-click="show('/profile')"></div>
                <div class="header-line"><center style="height: 100%;"><div class="vertical-red-line"></div></center></div>
                <div class="icon-top icon-top-menu-pesa left-alignment" ng-click="show('/freeWOD')"></div>
                <div class="header-line"><center style="height: 100%;"><div class="vertical-red-line"></div></center></div>
                <div class="icon-top icon-top-menu-viaje" ng-click="show('/tripWOD')"></div>
                <div class="header-line"><center style="height: 100%;"><div class="vertical-red-line"></div></center></div>
                <div class="icon-top icon-top-menu-calendar right-alignment" ng-click="show('/calendar')"></div>
            </div>
        </div>
        <div class="bar background-title">
            <div class="margin-alignment-subheader">
                <div class="font-principal left-alignment">{{pageTitle | translate}}</div>
                <div class="right-alignment" style="position: absolute; right: 8%;">
                    <div class="right-alignment" ng-class="iconHeader"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-margins">
        <ion-content style="margin-top: 80px;">
            <ion-list>
                <div ng-repeat="sport in training track by $index">
                    <ion-item class="item-training"
                              ng-click="toggleGroup(sport)"
                              ng-class="{active: isGroupShown(sport) || isActiveDay(sport.day,$index)}">
                        <div class="row" ng-hide="isActiveDay(sport.day,$index)">
                            {{sport.day | translate}}
                        </div>
                        <div class="row" ng-show="isActiveDay(sport.day,$index)">
                            {{'today' | translate}}
                        </div>
                        <div class="row">
                            <div class="left-alignment">
                                <div ng-repeat="exercise in sport.exercises" class="button button-icon icon center-img" ng-class="exercise.image"></div>
                            </div>
                            <div class="overflow-right bottom-line">
                                {{(sport.type || 'createWOD') | translate}}
                                <i class="icon" ng-class="isGroupShown(sport) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                            </div>
                        </div>
                    </ion-item>
                    <div class="accordion-training" ng-show="isGroupShown(sport)">
                        <div class="training-wod-button">
                            <label ng-click="show('/freeWOD')" class="red-button-background">
                                <i class="icon ion-chevron-right" style="color:white"></i>
                                <span class="training-wod-font">{{'startWOD' | translate}}</span>
                            </label>
                        </div>
                        <div style="margin-top: -37px;">
                            <ion-item class="item-accordion" ng-repeat="exercise in sport.exercises">
                                <!--<span>{{exercise.count}}</span>-->
                                <div class="training-exercises">
                                    {{exercise.name}}
                                </div>
                            </ion-item>
                        </div>
                    </div>
            </ion-list>
        </ion-content>
    </div>
</div>